/* style.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #c0dae7;
}

/* Navbar using float */
.navbar {
  background-color: #333;
  color: #fff;
  overflow: hidden;
  padding: 10px 20px;
}

.navbar .logo {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  float: right;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar ul li a:hover {
  text-decoration: underline;
  hover: color= #0d0c0a;
}

/* Common container */
.container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
}
